@import url('styles/index.css');

body, html {
}

:root {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}

.main-title {
  padding-left: 30px;
}

p, .center-heading {
  text-align: center;
}

em strong {
  color: red;
}

#mission {
  font-size: 20px;
}

#banner {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.main {
  background-color: #cccccc;
  padding: 20px;
}

.differentiation {
  background-color: white;
  padding: 20px;

}

ul {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 15%;
}

.items {
  font-style: italic;
}

.differentiation-img {
  width: 50%;
}
