
body, html {
  background-color: #cccccc;
}

:root {
  height: 100%;
  background-color: #cccccc;
  overflow: hidden;
}

body {
  height: 100%;
}

p {
  text-align: center;
}

em strong {
  color: red;
}

#mission {
  font-size: 20px;
}

#banner {
  max-width: 100%;
}
