@import 'index.css';

header {
  background-color: #bbb;
  padding: 1.5em;
}

.container {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav {
  position: absolute;
  right: 0;
  top: 110px;
}

nav li {
  display: inline-block;
  margin-right: 1em;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}
