@import 'index.css';

header {
  background-color: #bbb;
  padding: 1.5em;
}

.container {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav {
  position: absolute;
  right: 0;
  top: 110px;
}

nav li {
  display: inline-block;
  margin-right: 1em;
}

nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.products {
  width: 1200px;
  margin: 0 auto;
  padding: 3em;
  padding: 50px;
}

.products li {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 10px;
  text-align: center;
}

.products li:hover {
  border-color: #c78c19;
}

.products li:hover h2{
  font-size: 2em;
}

.products img:active {
  border-color: #088c19;
  transform: scale(0.9);

}

.products h2 {
  font-size: 1.875em;
  font-size: 30px;
  font-weight: bold;
}

.products-description {
  font-size: 1.125em;
}

.products-price {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 10px;
}


footer {
  background: url(../assets/img/bg.jpg) center center;
  padding: 2.5em;
  text-align: center;
  margin-top: 50px;
}

.copyright {
  color: #fff;
  font-size: 1.5em;
}

main {
  width: 1200px;
  margin: 0 auto;
}

form {
  margin: 40px 0;
}

form label, form input {
  display: block;
}

form label {
  font-size: 1.25em;
  margin-bottom: 10px;
}

form input {
  width: 50%;
  margin-bottom: 20px;
  margin: 0 0 20px;
  padding: 10px 25px;
  font-size: 1.25em;
}

